{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Partidas Epicas</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Partidas Epicas</a></h1>
        </div>
        {% block content %}
            {% for partida in partidas %}
                <div class="post">
                    <h2>{{ partida.juego }}</h2>
                    <p>Duracion: {{ partida.duracion }}</p>
                    <p>Puntuacion: {{ partida.puntos }}</p>
                    <h3>Jugada por {{ partida.jugador }}</h3>
                    <button type="button" value="delete" class="save btn btn-danger" (click)="">delete</button>
                </div>
            {% endfor %}
        {% endblock %}
    </body>
</html>